# Node modules
node_modules/

# Diretórios de build
dist/
build/
out-tsc/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*.local

# Compiled output
*.js
*.d.ts
*.js.map

# IDEs e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Diretório de cobertura de testes
coverage/

# Diretórios temporários
temp/
tmp/

# Diretórios de cache
.cache/
.angular/
.sass-cache/
